.be-aware {
    background-image: url(img/radu-florin-CwTBt6jyagQ-unsplash\ 1.png);
    height: 895px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 55px;
}

.be-aware .headline {
    width: 1550px;
    margin: 0 auto;
    position: relative;
    top: 171px;
}

.be-aware .title h1 {
    font-family: "Georgia";
    font-weight: 700;
    font-size: 65px;
    color: #01996D;
}

.be-aware .undertitle p {
    font-family: "Lato";
    font-size: 20px;
    color: #484848;
    margin-top: 35px;
}

.be-aware .find-way button,
.story-container button,
.our-product-container button {
    border: 1px solid #01996D;
    border-radius: 4px;
    padding: 20px 50px;
    background-color: #01996D;  
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 45px;
}

.be-aware .find-way button:hover,
.story-container button:hover,
.our-product-container button:hover {
    background-color: #007B57;
    border: 1px solid #007B57;
}

.story-container {
    background-color: #245852;
    height: 722px;
    margin-top: 250px;
    padding-top: 225px;
}

.story-container .success-story {
    width: 1550px;
    margin: 0 auto;
    justify-content: space-between;
}

.story-container .text-content {
    padding-top: 75px;
}

.story-container .success-story .title{
    font-family: "Georgia";
    font-weight: 700;
    font-size: 50px;
    color: white;
    line-height: 78.5px;
}

.story-container .undertitle {
    font-family: "Lato";
    font-weight: 600;
    font-size: 25px;
    color: white;
    padding-top: 30px;
}

.story-container img {
    float: right;
}

.our-product-container {
    width: 1250px;
    margin: 0 auto;
    position: relative;
    top: 171px;
    justify-content: space-between;
}

.our-product-container .first img {
    background-color: #01996D33;
    border-radius: 18.11px;
    width: 673px;
    height: 573px;
    position: absolute;
}

.our-product-container .overtitle {
    font-family: "Lato";
    font-weight: 600;
    color: #424242;
    font-size: 25px;
}

.our-product-container .title {
    font-family: "Georgia";
    font-weight: 700;
    color: #01996D;
    font-size: 50px;
    margin-top: 15px;
    line-height: 78.5px;
}

.our-product-container .paragraph {
    font-family: "Lato";
    color: #484848;
    font-size: 20px;
    margin-top: 15px;
}

.our-product-container .notes {
    width: 296px;
    height: 293px;
    position: relative;
    border: 1px solid white;
    background-color: white;
    border-radius: 3.73px;
    text-align: center;
    top: 350px;
    position: relative;
    right: 100px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.our-product-container .portfolio .notes .title {
    font-family: "Lato";
    font-weight: 600;
    color: black;
    font-size: 14.49px;
}

.our-product-container .portfolio .notes .title {
    font-family: "Lato";
    font-weight: 600;
    color: black;
    font-size: 14.49px;
}

.our-product-container .portfolio .notes .line {
    border-top: 0.75px solid #000000;
    width: 120px;
    margin: 0 auto;
    margin-top: -25px;
}

.our-product-container .portfolio .notes .name {
    font-family: "Lato";
    color: #484848;
    font-size: 11.94px;
    margin-top: 5px;
}

.our-product-container .portfolio .notes .custom {
    font-family: "Georgia";
    font-weight: 700;
    color: black;
    font-size: 15.93px;
    margin-top: 15px;
}

.our-product-container ul, li {
    list-style-position: inside;
    margin-top: 15px;
    font-size: 10px;
    font-family: "Lato";
    text-align: start;
    margin-left: 37.5px;
}

.our-product-container .second img {
    background-color: #01996D33;
    border-radius: 100px;
    margin-top: 15px;
}
