header {
    width: 1394px;
    margin: 0 auto;
}

.navigation-menu {
    width: 648.04px;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
}

.navigation-menu a {
    font-family: "Montserrat";
    color: #d9d9d9;
    text-decoration: none;
    font-size: 19.17px;
    line-height: 23.37px;
}

.navigation-menu #logo {
    background: linear-gradient(263.46deg, #237249 3.14%, #35C66B 87.2%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 37.6px;
    line-height: 41.16px;
    font-weight: 800;
}
